/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body, p, h1, h2, h3, ul, ol {
	margin: 0;
	padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

ul, ol {
	list-style: none;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

#notice {
  color: green;
}

.container {
	max-width: 100%;
	padding: 30px 26px;
	border-top: 3px solid #c1ffbc;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        font-size: 0;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.uppercase {
	text-transform: uppercase;
}

.logo, .list-item {
	display: inline-block;
}

.logo-link:hover {
	background-color: transparent;
}

.avatar {
	border-radius: 6px;
}

.thumb-avatar img {
	vertical-align: middle;
	margin-right: 5px;
	border-radius: 3px;
}


.thumb-avatar a:hover {
	background-color: transparent;
	opacity: .5;
}

.title-lg {
	margin: 15px 0 10px;
}

.title-sm {
	margin: 10px 0 12px;
}

.nav {
	max-width: 100%;
	background-color: #CBE3FB;
	padding: 0 20px;
}

.nav .fa-grav {
	font-size: 2.8em;
	color: #f7993d;
	padding: 7px 0;
}

.nav-list {
	margin-top: 15px;
}

.form-input {
	width: 200px;
	font-size: 1em;
	border-radius: 2px;
	padding: 1px 0 3px 3px;
	margin-bottom: 10px;
}

.submit-btn {
  font-size: 1.2em;
	margin-bottom: 10px;
}

label[for=user_remember_me] {
	display: inline-block;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
