/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

.container {
	max-width: 100%;
	padding: 0 10px;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        font-size: 0;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.nav {
	max-width: 100%;
	background-color: #CBE3FB;
	padding: 0 20px;
}

.nav .fa-grav {
	font-size: 2.8em;
	color: #f7993d;
	padding-top: 4px;
}

.list-item {
	display: inline-block;
}
