.content {
  margin-bottom: 2.7em;
}

.link-title {
  display: inline-block;
  margin-right: .4em;
}

.unvoted {
  display: inline-block;
  font-size: 2em;
  margin: .5em .6em 0 0;
}

.unvoted-counter {
  display: block;
  text-decoration: none;
}

.content-link {
  display: inline-block;
  vertical-align: top;
}

.index-number {
  display: inline-block;
  font-size: 1.5em;
  vertical-align: top;
  margin: 28px 10px 0 0;
}

.submit-info {
  line-height: 5px;
}

.link-actions {
  margin: 8px 0 10px 0;
}
